p {
  font-size: $fz-reg;
  opacity: 0.8;
  font-weight: 300;
  line-height: 1.6rem;
}

em {
  color: $clr-SpringBlue;
  font-style: italic;
}

.main__title {
  @include font_h1;

  @media screen and (max-width: $mobile-max) {
    .title_h1 {
      font-size: calc(33px + (15 + 15 * .7) * ((100vw - 320px) / 1440));
    }
  }
}

.block_title {
  font-family: $font-secondary;
  font-size: $fz-h2;
  line-height: 3rem;

  @media screen and (max-width: $mobile-max) {
    .title_h1 {
      font-size: calc(24px + (16 + 16 * .7) * ((100vw - 320px) / 1440));
    }
  }
}