.footer {
  margin: 275px auto 0;
  padding-top: 20px;

  @media screen and(max-width: $tablet-max) {
    margin: 50px auto 0;
  }
}

.footer-top {
  margin-bottom: 80px;
  padding: 20px 0;
  display: flex;

  @media screen and(max-width: $tablet-max) {
    flex-direction: column;
    width: 90vw;
    text-align: center;
    margin-bottom: 30px;
  }

  &__desc {
    padding: 20px;

    &_title {
      padding-bottom: 20px;
    }

    &_text {
      width: 75%;

      @media screen and(max-width: $tablet-max) {
        width: 100%;
      }
    }
  }

  &__form {
    width: 50%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;

    @media screen and(max-width: $tablet-max) {
      width: 75%;
      margin: 0 auto;
    }
  }
}

.footer-bottom {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  font-size: $fz-xSmall;

  @media screen and(max-width: $mobile-max) {
    flex-direction: column-reverse;
  }
}

.footer-bottom__text_reg,
.footer-bottom__text_pale {
  font-size: $fz-xSmall;
}

.footer-bottom__text_reg {
  line-height: 1.7em;
  letter-spacing: 0.08em;

  @media screen and(max-width: $mobile-max) {
    padding-right: 10px;
  }
}

.footer-bottom__text_pale {
  opacity: 0.6;
  font-weight: 300;
  line-height: 1.85em;
}

.footer-bottom__navigation {
  width: 22%;

  @media screen and(max-width: $tablet-max) {
    width: 30%;
  }
}

.footer__nav {
  display: flex;
  justify-content: space-between;

  @media screen and(max-width: $mobile-max) {
    justify-content: space-evenly;
  }
}

.footer-bottom__left,
.footer-bottom__center,
.footer-bottom__navigation {
  @media screen and(max-width: $mobile-max) {
    width: 100%;
    padding: 3px;
    text-align: center;
    margin: 2px auto;
  }
}

.footer__nav_item {
  @media screen and(max-width: $mobile-max) {
    border: 1px solid rgba(38, 42, 63, 0.3);
    border-radius: 4px;
    padding: 5px;
  }
}