.footer__input {
  border-color: transparent;
  border-bottom: 1px solid rgba(38, 42, 63, 0.1);
  padding: 12px 0;
  margin-bottom: 28px;
  font-family: $font-secondary;
  font-size: $fz-reg;
  font-style: italic;
}